In [2]:
a = {}
print(a, type(a))

{} <class 'dict'>

In [3]:
a = {1, 2, 3, 4}
print(a, type(a))

{1, 2, 3, 4} <class 'set'>

In [4]:
a = {1, 2, 3, 4, 5, 6, 6, 1, 31, 3, 4, 6}
print(a, type(a))

{1, 2, 3, 4, 5, 6, 31} <class 'set'>

In [5]:
a = {1, 1, 1, 1, 1, 1}
print(a, type(a))

{1} <class 'set'>

In [6]:
a = {1, 1, 1, 1, 1, 1, 2, 3, 3, 22, 2, 2, 2}
print(a, type(a))

{1, 2, 3, 22} <class 'set'>

In [7]:
for i in a:
    print(i)

1
2
3
22

In [8]:
a[0]

TypeError: 'set' object is not subscriptable

In [9]:
a = [1, 1, 1, 1, 1, 1, 2, 3, 3, 22, 2, 2, 2]
print(a, type(a))

[1, 1, 1, 1, 1, 1, 2, 3, 3, 22, 2, 2, 2] <class 'list'>

In [11]:
a = [1, 1, 1, 1, 1, 1, 2, 3, 3, 22, 2, 2, 2]
a = set(a)
a = list(a)

print(a, type(a))

[1, 2, 3, 22] <class 'list'>

# Dictionarul este mutabil

In [12]:
d = {"cheie":"valoare", "k2":321}

In [13]:
d["k2"]

321

In [14]:
d["k2"] = 231413523

In [15]:
d

{'cheie': 'valoare', 'k2': 231413523}

# In dictionar cheile sunt unice

In [16]:
johannis = {'cars':2 , 'houses':6}
johannis['cars'] = 3
print(johannis)

{'cars': 3, 'houses': 6}

In [17]:
johannis = {'cars':2 , 'houses':6}
johannis['CARS'] = 3
print(johannis)

{'cars': 2, 'houses': 6, 'CARS': 3}

In [18]:
johannis = {'cars':2 , 'houses':6, 'cars':3}
print(johannis)

{'cars': 3, 'houses': 6}

In [19]:
johannis = {'cars':2 , 'houses':6, 'cars':3, 'cars':4}
print(johannis)

{'cars': 4, 'houses': 6}